html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
